*{padding:0;margin:0;}
.backdrop{
    width: 900px;
    height: 344px;
    margin: 50px auto;
    /* background-image: url(../images/bg.png);
    background-repeat: repeat-x; */
    background: url(../images/bg.png) repeat-x;

}
.import{
    width: 900px;
    height: 344px;
/*     background-image: url(../images/coffee.png);
    background-position: center;
    background-repeat:no-repeat; */
    background: url(../images/coffee.png) no-repeat center;
}